<div class="out-container d-flex ">
    <div class="sidebar">
        <div class="row">
            <div class="side-item">
                <a (click)="setSection('server')">
                    <div class="side-item-container" [ngClass]="{'server-side-item': api.section == 'server'}">
                        <i class="fa fa-server"></i>
                        <span class="side-item-title">Webchat</span>
                    </div>
                    <br>
                </a>
            </div>
        </div>
        <!-- <div class="row">
            <div class="side-item-no-hover">
                <div class="side-item-container">
                    <i class="fa fa-cubes"></i>
                    <span class="side-item-title">Salas</span>
                </div>
                <br>
            </div>
        </div> -->
        <div *ngFor="let channel of api.channels" class="row">
            <div class="side-item">
                <a (click)="setSection(channel.name)">
                    <div class="side-item-container" [ngClass]="{'server-side-item': api.section == channel.name}" style="padding: 0 50px">
                        <i class="fas" [ngClass]="{'fa-door-open': api.section == channel.name, 'fa-door-closed': api.section != channel.name}"></i>
                        <span class="side-item-title ellipsis">{{ channel.name }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div *ngIf="api.section == 'server'" class="chat-container">
        <br>
        <div class="row">
            <div class="col 4 offset-s1">
                <span class="title">Servidor</span>
            </div>
            <br>
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col 4 offset-s1">
                <span class="header">Bem-vindo ao Webchat! Lembre-se de respeitar todos usuários e divirta-se.</span>
            </div>
            <br>
        </div>
        <br>
        <div class="row">
            <div class="col 4 offset-s1">
                <span class="subtitle">INFORMAÇÕES</span>
            </div>
        </div>
        <br>
        <div class="row">
            <form class="col s10 offset-s1 card" style="padding-top: 1rem; padding-bottom: 1rem">
                <div class="input-field col s6 align-self-center text-center">
                    <span>Nickname</span>
                    <input disabled value="{{ api.nickname }}" id="nickname" type="text" class="validate">
                    <!-- <label for="inickname">Nickname</label> -->
                </div>
                <div class="input-field col s6 right-align" (click)="api.logout()">
                    <a class="waves-light btn red">SAIR</a>
                </div>
            </form>
        </div>
        <br>
        <div class="row">
            <div class="col 4 offset-s1">
                <span class="subtitle">SALAS DE BATE-PAPO</span>
            </div>
        </div>
        <br>
        <div #divchannels class="row">
            <div class="col s10 offset-s1 channels-table card">
                <table class="highlight">
                    <thead>
                        <td>
                            Nome da sala
                        </td>
                        <td>
                            Nº de usuários
                        </td>
                    </thead>
                    <tr *ngFor="let channel of api.channels" (click)="setSection(channel.name)">
                        <td>
                            {{ channel.name }}
                        </td>
                        <td>
                            {{ channel.nicks.length }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <br>
    </div>
    <div *ngIf="api.section != 'server'">
        <div class="chat-container">
            <br>
            <div class="row">
                <div class="col s10 offset-s1" style="padding: 0;">
                    <div class="col s8 align-self-center text-center">
                        <span class="title">Sala de {{ api.activeChannel.name }}</span>
                    </div>
                    <div class="col s4 right-align" (click)="setSection('server')">
                        <a class="waves-light btn red">SAIR</a>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="col 4 offset-s1">
                    <span class="subtitle">USUÁRIOS</span>
                </div>
            </div>
            <div class="row" style="padding-top: 10px;">
                <div class="col 4 offset-s1">
                    <span class="header">{{ api.activeChannel.nicks.join(', ') }}</span>
                </div>
                <br>
            </div>
            <br>
            <div class="row">
                <div class="col 4 offset-s1">
                    <span class="subtitle">MENSAGENS</span>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col s10 offset-s1 channels-table card" style="padding: 20px; height: 300px; overflow: scroll;" #scrollMe [scrollTop]="scrollMe.scrollHeight">
                    <h6 *ngFor="let message of api.activeChannel.messages" style="padding: 10px 10px" [innerHtml]="message"></h6>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1 card" style="padding: 10px 20px">
                    <div class="input-field col s8 align-self-center text-center">
                        <input [(ngModel)]="message" type="text" placeholder="Digite sua mensagem..." class="validate">
                    </div>
                    <div class="input-field col s4 right-align" (click)="sendMessage()">
                        <a class="waves-light btn indigo">ENVIAR</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>