<div class="out-container d-flex ">
    <div class="login-container">
        <div class="container" style="height: 100%; display: flex;
        justify-content: center;">
            <div class="wraper" style="margin: 0 auto">
                <div class="card" style="padding: 5rem; max-width: 500px; margin: 0 auto;">
                    <div class="card-body">
                        <div class="row">
                            <h4 style="text-align: center; margin-bottom: 60px">{{ connecting ? 'Conectando ao Webchat...' : 'Login Webchat'}}</h4>
                        </div>
                        <br>
                        <div class="row" style="padding-bottom: 20px;">
                            <div class="input-field col s12 align-self-center text-center">
                                <input [disabled]="connecting" placeholder="Seu nickname" [(ngModel)]="nickname" type="text" class="validate" autocomplete="on">
                                <label for="nickname">Nickname</label>
                                <span *ngIf="!firstAttempt && nickname.length == 0" style="color: red;">Campo nickname é obrigatório.</span>
                            </div>
                        </div>
                        <div *ngIf="connecting" class="row">
                            <div class="input-field col s12 align-self-center text-center" style="display: flex;
                            justify-content: center;">
                                <div class="preloader-wrapper active">
                                    <div class="spinner-layer spinner-green-only">
                                        <div class="circle-clipper left">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="gap-patch">
                                            <div class="circle"></div>
                                        </div>
                                        <div class="circle-clipper right">
                                            <div class="circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!connecting" class="row">
                            <div class="input-field" style="text-align: center; margin-top: 20px;" (click)="login()">
                                <a id="btn-login" class="btn indigo" style="width: 100%;">ENTRAR</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>