* {
    margin:0;
    padding:0;  
}

html, body {
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'Roboto';
    font-weight: 300;
}

.title {
    font-weight: 500;
}

.subtitle {
    font-weight: 500;
    color: #9e9e9e;
    font-size: 12px;
}

.row {
    margin: 0 !important;
}

thead {
    font-weight: 500;
}

tr {
    cursor: pointer;
}

a { color: inherit; } 

.sidebar {
    position : fixed;
    top:0;
    left:0;
    bottom:0;
    height: 100%;
    width: 200px;
    background-color: #3F51B5;
    color: #ffffff;
    z-index: 1;
}

.fa {
    font-size: 20px !important;
}

.out-container {
    position :relative;
    width: 100%;
    margin: 0px auto;
    height: 100%;
}

.side-item {
    width: 100%;
    height: 80px !important;
    font-size: 16px;
    text-align:center;
}

.side-item-no-hover {
    width: 100%;
    height: 80px !important;
    font-size: 16px;
    text-align:center;
}

.side-item-container {
    display:inline-block;
    vertical-align: middle;
    height: 100%;
    display:flex;
    padding: 0 30px;
    /* justify-content:center; */
    align-items:center;
    color: white !important;
}

.side-item-title {
    margin-left: 18px;
}

.side-item:hover {
    background-color: #1A237E;
}

.login-container {
    color: #212121;
    position :absolute;
    top:0;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
}

.chat-container {
    color: #212121;
    position :absolute;
    top:0;
    right:0;
    bottom:0;
    width: 100%;
    padding-left: 195px !important;
    height: 100%;
}

.input-field input:focus + label {
    color: #2196F3 !important;
}

input[type=text].valid:not(.browser-default) {
    border-bottom: 1px solid #2196F3;
    box-shadow: 0 1px 0 0 #2196F3;
}

/* label underline focus color */
.row .input-field input:focus {
    border-bottom: 1px solid #2196F3 !important;
    box-shadow: 0 1px 0 0 #2196F3 !important
}